# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
.venv_rna/
venv/
.env



# Git
.git/
.gitignore

# Outputs / data (à adapter)
docs
output/
reports/
notebooks/
tests/
*.png
*.pdf
data/GSE60450_Lactation-GenewiseCounts_filtered.txt

# OS / IDE
.DS_Store
.vscode/
.idea/

pgdata/

README.md
requirements.txt